<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ current_category.name }} - List of Ads</title>
</head>
<body>
    <h1>Ads</h1>
    <h2>Category: {{ current_category.name }}</h2>
    <div>
        <a href="{% url 'index' %}">Main Page</a>
        <a href="{% url 'add' %}">Add</a>
        {% for category in categories %}
            <a href="{% url 'category_view' category.pk %}">{{ category.name }}</a>
        {% endfor %}
    </div>
    {% for bb in bbs %}
    <div>
        <h2>{{ bb.title }}</h2>
        <p>{{ bb.content }}</p>
        <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
    </div>
    {% endfor %}
{#{% for elem in current_category.bb_set.all %}#}
{#<p> {{ elem.title }}</p>#}
{##}
{#{% endfor %}#}
</body>
</html>