<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Ad</title>
</head>
<body>
    <h1>Create ad</h1>
    <div>
        <a href="{% url 'index' %}">Main Page</a>
        <a href="{% url 'add' %}">Add</a>
        {% for category in categories %}
            <a href="{% url 'category_view' category.pk %}">
            {{ category.name }}</a>
        {% endfor %}
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create">
    </form>
</body>
</html>