<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main - List of Ads</title>
</head>
<body>
    <h1>Ads</h1>
    <div>
        <a href="{% url 'index' %}">Main Page</a>
        <a href="{% url 'add' %}">Add</a>
        {% for category in categories %}
            <a href="{% url 'category_view' category.pk %}">{{ category.name }}</a>
        {% endfor %}
    </div>
    {% for bb in bbs %}
    <div>
        <h2>{{ bb.title }}</h2>
        <p>{{ bb.content }}</p>
        <p><a href="{% url 'category_view' bb.category.pk %}">
            {{ bb.category.name }}</a></p>
        <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
    </div>
    {% endfor %}
</body>
</html>